# 🌐 Server Configuration
PORT=3000

# 🔐 JWT Secret Key (Use a secure, unique key in production)
JWT_SECRET=e9a8dd2aea7254d979354c0be979a50afb39f4cec36d07398d05646bb627e860e84e4fc61818958edce06e87f16a56f95d9635abf5164651e4ec9df37cf55248

# 🍃 MongoDB Connection (Update with your actual username, password, and cluster)
# MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/chat_app?retryWrites=true&w=majority
# MONGO_URI=mongodb://localhost:27017/chat_app
